*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    background-color: lightgoldenrodyellow;
}
.section
{
    width: 450px;
    height: 400px;
}
.box
{
    width: 400px;
    height: 400px;
    background-color: rgba(207, 118, 245, 0.5);
    border-radius: 10px;
    position: absolute;
    left: 39%;
    top: 20%;
}
.box1
{
    width: 400px;
    height: 400px;
    background-color: rgba(207, 118, 245, 0.5);
    border-radius: 10px;
    position: absolute;
    left: 39%;
    top: 20%;
}
.musicicon
{
    width: 160px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: 33%;
    top: 10%;
   
}
.vikram
{
    width: 160px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid white;
}
.buttons
{
    position: absolute;
    left: 44%;
    top: 71%;
    display: flex;
}
.play
{
    background-color: lightgray;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.forward
{   position: absolute;
    left: 160%;
    top: 24%;
    width: 40px;
    height: 40px;
    background-color: lightgray;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.backward
{
    position: absolute;
    left: -124%;
    top: 24%;
    width: 40px;
    height: 40px;
    background-color: lightgray;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.title
{
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 10px;
}
.title1
{
    width: 300px;
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
    margin-top: 10px;
    margin-left: -10px;
}
.ranger
{   width: 270px;
    position: absolute;
    left: 16%;
    top: 62%;
}
.rang{
    -webkit-appearance: none;
    background: white;
    border-radius: 10px;
    width: 100%;
    height: 6px;
    
}
.rang::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: lightpink;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(255,26,26,0.22);
    border: 7px solid white;
    cursor: pointer;
}
.sec
{
    width: 96%;
    margin-left: 5px;
    height: 50px;
    margin-top: 10px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vik
{
    width: 40px;
    height: 40px;
    margin-top: 1px;
   position: relative;
   right: 5%;
}
.vik1
{
    width: 40px;
    height: 40px;
    margin-top: 1px;
   position: relative;
   right: 14%;
}
.vik2
{
    width: 40px;
    height: 40px;
    margin-top: 1px;
   position: relative;
   right: 15%;
}
.vik3
{
    width: 40px;
    height: 40px;
    margin-top: 1px;
   position: relative;
   right: 5%;
}
.allsongstxt
{
    position: relative;
   right: 4%;
   font-weight: 700;
   color: white;
   font-size: 0.9rem;
}
.allsongstxt1
{
    position: relative;
   right: 13%;
   font-weight: 700;
   color: white;
   font-size: 0.9rem;
}
.allsongstxt2
{
    position: relative;
   right: 3%;
   font-weight: 700;
   color: white;
   font-size: 0.8rem;
}
.playsong
{   position: relative;
    left: 1%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: lightpink;
    border: 4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.playsong1
{
    position: relative;
    left: 10%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: lightpink;
    border: 4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.playsong2
{
    position: relative;
    left: 11%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: lightpink;
    border: 4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.goback
{
    width: 30px;
    height: 30px;
    border: 4px solid white;
    border-radius: 50%;
    background-color: rgba(207, 118, 245, 0.5);
    margin-top: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: 450ms;
    color: white;
}
.goback:hover{
    color: black;
    background-color: white;
    border: 4px solid black;
    transform: scale(1.08);
}
.searchbar
{
    position: absolute;
    left: 20%;
    top: 20%;
}
.search
{
    width: 210px;
    height: 30px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: 2px solid black;
}
.add
{   position: absolute;
    width: 50px;
    height: 30px;
    left: 99%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 1.2rem;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid black;
    transition: 450ms;
}
.add:hover{
    transform: scale(1.08);
}
.or{
    position: absolute;
    left: 39%;
    top: 40%;
    font-size: 3.5rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    text-shadow: 5px 2px 2px rgba(207, 118, 245, 0.5);
}

.available
{
    width: 130px;
    height: 60px;
    border-radius: 10px;
    position: absolute;
    left: 34%;
    top: 67%;
    background-color: white;
    border: 2px solid black;
    transition: 450ms;
    font-size: 1rem;
    font-weight: 700;
}
.available:hover{
    transform: scale(1.08);
    background-color: rgba(207, 118, 245, 0.5);
    border: 2px solid white;
}
@media  screen and (max-width:500px) {
    body{
        overflow: hidden;
    }
    .section
{
    width: 350px;
    height: 400px;
}
.box
{
    width: 413px;
    height: 400px;
    background-color: rgba(207, 118, 245, 0.5);
    border-radius: 10px;
    position: absolute;
    left: 2%;
    right: 2%;
    top: 20%;
    overflow-x: hidden;
}
.box1
{
    width: 413px;
    height: 400px;
    background-color: rgba(207, 118, 245, 0.5);
    border-radius: 10px;
    position: absolute;
    left: 2%;
    right: 2%;
    top: 20%;
    overflow-x: hidden;
}
.ranger
{   width: 300px;
    position: absolute;
    left: 12%;
    top: 62%;
}
.musicicon
{
    width: 160px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: 29%;
    top: 10%;
   
}
.vikram
{
    width: 160px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid white;
}
.buttons
{
    position: absolute;
    left: 41%;
    top: 72%;
    display: flex;
}
.title
{
    color: white;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 15px;
}
.vik
{
    width: 40px;
    height: 40px;
    margin-top: 1px;
   position: relative;
   right: 4%;
}
.vik1
{
    width: 40px;
    height: 40px;
    margin-top: 1px;
   position: relative;
   right: 13.5%;
}
.vik2
{
    width: 40px;
    height: 40px;
    margin-top: 1px;
   position: relative;
   right: 14.5%;
}
.vik3
{
    width: 40px;
    height: 40px;
    margin-top: 1px;
   position: relative;
   right: 4.5%;
}
}
